/* Fonts  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


/* Universal */
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #14104B;
    color: #74809C;
}
h3, p{
    background-color: transparent;
}
section{
    margin: 0 8% 0;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
.btn-link{
    border: none;
    outline: none;
    margin: 20px;
}
.btn-link a{
    font-size: 20px;
    color: #FF6075;
}
.btn-link .fas{
    font-size: 20px;
    color: #FF6075;
}
.area-wrapper{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2em;
}
.info h3{
    border-bottom: 1px solid #FF6075;
    margin-bottom: 20px;
}
.info h2{
    color: white;
    font-size: 42px;
    margin-bottom: 15px;
}
.info p{
    font-size: 14px;
}


/* Header area  */
header{
    margin: 30px 8% 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo h2{
    font-size: 36px;
    background-image: linear-gradient(to right, #22EDFB, #FF4D71);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}
nav, nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
nav ul li{
    margin-right: 20px;
}
nav ul li a{
    cursor: pointer;
    border-radius: 15px;
    transition: 1s;
}
nav ul a:hover{
    background-color: #FF6075;
    color: white;
}
nav a{
    padding: 8px 24px;
}
nav > a, .transparent-btn{
    border: 1px solid #FF6075;
    padding: 8px 24px;
    border-radius: 8px;
    color: #FF4D71;
    cursor: pointer;
}


/* Introduction Section  */
.intro{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.description-text, .description-img{
    width: 45%;
}
.description-text h3 {
    font-weight: 600;
    font-size: 20px;
}
.description-text h1 {
    font-size: 60px;
    line-height: 1.8em;
    color: white;
}
.description-text h2 {
    font-size: 42px;
    margin-bottom: 50px;
}
.description-img img{
    width: 100%;
}


/* What I do  */
.what-i-do{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2.5em;
    align-items: center;
}
.do-features{
    display: flex;
    height: 500px;
}
.col{
    display: flex;
    flex-direction: column;
    margin: 1em;
}
.col-1{
    justify-content: flex-start;
}
.col-2{
    justify-content: flex-end;
}
.col-item{
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
}
.col-item h3{
    text-align: center;
    margin-bottom: 20px;
}
.col-item p{
    font-size: 14px;
    color: rgb(195, 186, 186);
}
.col h3{
    color: white;
}
.web-app{
    background-image: linear-gradient(130deg, #3E138F, #1FBAD7);
    box-shadow: 3px 2px 13px #32d8f5;
}
.web-design{
    background-image: linear-gradient(25deg, #5AACD1, #9E59FC);
    box-shadow: 3px 2px 13px #9f4aff;
}
.web-development{
    background-image: linear-gradient(30deg, #804bca, #2D15B2);
    box-shadow: 3px 2px 13px #8121ee;
}
.prototyping{
    background-image: linear-gradient(130deg, #4E178B, #a3407b);
    box-shadow: 3px 2px 13px #cf4498;
}
.do-text h3{
    border-bottom: 1px solid #FF6075;
    margin-bottom: 20px;
}
.do-text h2{
    color: white;
    font-size: 42px;
    margin-bottom: 15px;
}
.do-text p{
    font-size: 14px;
}


/* My recent projects */
.recent-project{
    margin-top: 50px;
}
.projrct-area-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.area-discription{
    align-self: baseline;
    margin-bottom: 60px;
}
.area-discription h3{
    border-bottom: 1px solid #FF6075;
    margin-bottom: 20px;
}
.area-discription h2{
    color: white;
    font-size: 42px;
    margin-bottom: 15px;
}
.area-discription p{
    font-size: 14px;
}
.projects{
    display: grid;
    grid-template-areas: "p1 p2 p3"
                         "p4 p5 p5"
                         "p4 p6 p7";
    column-gap: .5em;
    row-gap: .3em;
}
.project-1{
    grid-area: p1;
}
.project-2{
    grid-area: p2;
}
.project-3{
    grid-area: p3;
}
.project-4{
    grid-area: p4;
}
.project-5{
    grid-area: p5;
}
.project-6{
    grid-area: p6;
}
.project-7{
    grid-area: p7;
}


/* About Me  */
.about{
    margin-top: 50px;
}
.info ul{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1rem;
    row-gap: 1rem;
    margin-top: 1em;
}
.info ul li{
    list-style-type: disc;
    list-style-position: inside;
}
.hire-me-btn{
    border: none;
    padding: 10px 24px;
    background-color: #FF4D71;
    color: white;
    cursor: pointer;
    border-radius: 8px;
    margin-top: 15px;
}




/* 1068px for NAV BAR  */